# Node modules
/node_modules/

# Build directories
/dist/
/build/

# Logs
*.log

# Dependency directories
/frontend/node_modules/
/backend/node_modules/

# .env files (for sensitive environment variables)
.env

# OS specific files
.DS_Store
Thumbs.db
